/* Lenis Css */
html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Reddit Sans", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

section{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 16px;
    box-sizing: border-box;
    height: fit-content
    
}

.btn{
    border-radius: 10px;
    background-color: hsl(178, 90%, 35%);
    color: hsl(213, 69%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
 
}

/*Landing Page CSS*/

#landing-page{
    background-image: url(./images/home-image.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
   
    
}
#landing-page::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsl(210, 56%, 30%, 0.5);
    opacity: 0;/*Change to 0 for loading animation*/
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

#landing-page.animate::before {
    opacity: 1;
}



.logo-container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: auto auto;
    height: 100%;
    justify-content: center;
    text-align: center;
    
}
.logo-container > *{
    z-index: 2;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out 1s, transform 1s ease-in-out 1s;
}
.logo-container > *.visible,
dotlottie-player.visible{
    opacity: 1;
    transform: translateY(0);
}
.logo-container img{
    transform: translateY(-20px);
}
.logo-container h1{
    color: hsl(216, 33%, 97%);
    font-size: 28px;
    transform: translateY(20px);
}
.logo-container h2{
    color: hsl(210, 15%, 82%);
    font-size: 23px;
    transform: translateY(20px);
}
dotlottie-player{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s ease-in-out 1s, transform 1s ease-in-out 1s;
}

/*Nav Bar CSS*/
nav{
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    background-color: hsl(210, 24%, 16%);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 16px;
    z-index: 10;
    height: 60px;
    
}

nav a img{
    height: 50px;
}

nav ul{
    height: 100%;
    justify-content: center;
    align-items: center;
     display: none;
 
}

nav ul > a{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    color: hsl(210, 15%, 82%);
    font-size: 32px;
    height: 100%;

}
nav a.active{
    color: hsl(216, 33%, 97%);
    border-bottom: 5px solid hsl(216, 33%, 97%);

}
nav .btn{
  width: 172px;
  height: 55px;
  font-size: 26px;
  display: none;
}



nav.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

nav.sticky + .content{
    padding-top: 60px;
}

.ham-btn{
    position: relative;
    width: 30px;
    height: 45px;
    cursor: pointer
}

.ham-btn div{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 5px;
    border-radius: 25px;
    background-color: hsl(216, 33%, 97%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s transform ease-in-out, .3s opacity ease-in-out;
}

.ham-btn div:nth-child(1){
    top: 25%;
}
.ham-btn div:nth-child(2){
    
}

.ham-btn div:nth-child(3){
    top: 75%
}

.ham-btn.active div:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-btn.active div:nth-child(2){
    opacity: 0;
}

.ham-btn.active div:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); 

}
.content{
    position: relative;
}
.content > section{
    padding-top: 50px;
}


.dropdown-menu{
    
    width: 100%;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(210, 24%, 16%);
    justify-content: space-around;   
    align-items: center;
    clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-in-out;
    z-index: 10;
    display: flex;
    position: absolute;
    
}
.dropdown-menu.open{

    clip-path: circle(300vh at 90% -20%);

}
.dropdown-menu ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    
}

.dropdown-menu ul > a{
    text-decoration: none;
    color: hsl(210, 15%, 82%);
    font-size: 32px;
}

.dropdown-menu .btn{
    width: 172px;
    height: 55px;
    font-size: 26px;
}

.dropdown-menu.sticky{
    position: fixed;
    top: 60px;
    
}
.section-header{
    grid-column: span 4;
    color: hsl(210, 24%, 16%);
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    padding-top: 20px;
}

/* Service Section CSS */

.service-type{
    grid-column: span 4;
    color: hsl(211, 58%, 16%);
    font-size: 36px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    padding-top: 50px;
}

.service-card-container{
    grid-column: span 4;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    cursor: grab;
}
.service-card-container::-webkit-scrollbar{
    display: none;
}

.service-card-container.dragging{
    scroll-behavior: auto;
    cursor: grab;
}

.service-card{
    background-color: hsl(214, 15%, 91%);
    min-width: 100%;
    border-radius: 10PX;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.service-card div h3{
    color: hsl(211, 58%, 16%);
    font-size: 32px;
    padding: 0;
    margin: 0;
}
.service-card div p{
    color: hsl(210, 24%, 16%);
    font-size: 18px;
    padding-top: 0;
    margin-top: 0;
    max-width: 75%;
}
.service-card > a{
    text-decoration: none;
    color: hsl(178, 90%, 35%);
    font-size: 23px;
}

i.rigth-btn,
i.left-btn{
    background-color: hsl(210, 50%, 37%);
    color: hsl(180, 100%, 40%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    
}

i.left-btn{
    display: none;
}

.button-container{
    display: flex;
    grid-column: 3 / span 2;
    width: 100%;
    gap: 10px;
    justify-content: end;
}

/* Why We Lead CSS */
.advantages-container{
    display: grid;
    grid-column: span 4;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 100%;
    padding-top: 50px;
}

.advantages-card{
    background-color: hsl(214, 15%, 91%);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    font-size: 32px;
    gap: 10px;
    width: 100%;
    
}

.advantages-card .icon-container{
 color: hsl(178, 90%, 35%)
}
.advantages-card .text-container{
    display: flex;
    flex-direction: column;
}
.text-container h3{
    margin: 0;
    color: hsl(211, 58%, 16%)
}

.text-container p{
    font-size: 18px;
    color: hsl(210, 24%, 16%);
    margin-top: 5px;
}

/* Gallery CSS */
#gallery{
    position: relative;
    overflow: hidden;
}

.wave{
    position: absolute;
    bottom: 0;
    height: 50%; 
    z-index: -1;
    transform: translateX(-25%);
}
#gallery .grid-container h1{
    grid-column: span 4;
}
#carouselExampleAutoplaying{
    grid-column: span 4;
    position: relative;
    margin-top: 50px;
    box-sizing: border-box;
    border-radius: 10px;
}

i.carousel-control-prev, 
i.carousel-control-next { 
    background-color: hsl(210, 50%, 37%);
    color: hsl(180, 100%, 40%);
    width: 40px;
    height:40px;
    line-height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 1;
}

i.carousel-control-prev{
    transform: translateX(-30%);
}

i.carousel-control-next{
    transform: translateX(30%);
}
.carousel-item img{
    height:300px;
    border-radius: 20px;
}
#gallery .grid-container a{
    grid-column: span 4;
}











/*Responsive Design for Tablets and Laptops*/
@media (min-width: 435px) and (max-width: 1024px){
    .grid-container{
        padding: 0 32px
    }
    #landing-page{
        background-size: cover;
    }

    .logo-container{
        max-width: 720px;
    }

    .logo-container h1{
        font-size: 62px;
    }
    .logo-container h2{
        font-size: 30px;
    }

    .service-card{
        min-width: calc(100% / 2);
    }
    .section-header{
        font-size: 40px;
    }
    .service-type{
        font-size: 45px;
    }
    .service-card div h3{
        font-size: 30px;
    }
    .service-card div p{
       font-size: 18px;
    }
    .service-card > a{
        font-size: 22px;
    }
    
    
    
}
/*Repsonsive Design for Destops*/
@media (min-width: 1025px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 0 113px;
        box-sizing: border-box;
        height: fit-content
        
    }
    #landing-page{
        background-size: cover;
    }

    .logo-container{
        max-width: 960px;
    }

    .logo-container h1{
        font-size: 72px;
    }
    .logo-container h2{
        font-size: 40px;
    }

    nav{
        height: 120px; 
        padding: 0px 50px;
    }
    nav ul, 
    nav .btn
    {
        display: flex;
    }

    nav a img{
        height: 115px;
    }
    nav.sticky + .content{
        padding-top: 120px;
    }
    .ham-btn{
        display: none;
    }
    .dropdown-menu{
        display: none;
        width: 100%;
        height: 100%
    }

    .service-card{
        min-width: calc(100% / 3);
    }
    .section-header{
        font-size: 45px;
    }
    .service-type{
        font-size: 50px;
    }
    .service-card div h3{
        font-size: 35px;
    }
    .service-card div p{
       font-size: 20px;
    }
    .service-card > a{
        font-size: 25px;
    }
    .advantages-container{
        grid-template-columns: repeat(4, 1fr);
        gap: 50px
    }
    .advantages-card{
        grid-column: span 2;
        font-size: 35px;
    }
    .text-container p{
        font-size: 20px;
      
    }
    
}


